<label>Date</label>
<input  type="date" name="date" class="Form" id="date">
       <label>Name </label>
        <input  type="text" name="name" class="Form" id="name">
        <label>Start Time</label>
        <input type="time"   class="Form" id="Stime" name ="Stime">
        <label>End Time</label>
        <input type="time"   class="Form" id="Etime" name ="Etime">
        <label>Type</label>
        <select name="tage" class="Form" id="tage">
          <option value="event">event</option>
          <option value="important">important</option>
          <option value="birthday">birthday</option>
          <option value="festivity">festivity</option>
        </select>
        <br>
        <button type="submit" class="save" >SAVE</button>