* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;
  background-color: #777; }

.contaner{

  
     margin: 100px auto;
     font-family: Raleway;
     padding: 40px;
     width: 60%;
     min-width: 200px;
     margin-right: 300px;
     display: flex;
     flex-direction: row;   
     
}
#left{
  height: 398px;
  background-color: #ddd;
  width:30%;
  justify-content: center;
  align-items: center;
}

.in{
  height: 385px;
  background-color: #ddd;
  width:93%; 
 border-color: #1abc9c;
  border-style: double;
  border-radius: 12px;
 margin-left: 10px;
 margin-top: 7px;

}
.right{
  height: 100%;
  width:70%;
}
.month {
  padding: 40px 20px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
 
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 3%;
  color: #666;
  text-align: center;
  margin-left: 60px;
}

.days {
  padding: 30px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 3%;
  text-align: center;
  margin-bottom: 5px;
  font-size:15px;
  color: rgb(255, 255, 255);
  margin-left: 60px;
  border: none;
  cursor: pointer;

}

.btn {
  list-style-type: none;
  text-align: center;
  margin-bottom: 5px;
  font-size:15px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  display: inline-block;
}

.active {
 color:#1abc9c ;

}

.add {
  background-color: #1abc9c; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 10px;
  margin-left: 10px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}


a{
color: #ddd;
text-decoration: none;
}
